<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
    <label class="logo"><a href="/" class="logo"><img src="/img/logo.png" style= "height: 55px; margin-top: 10px;"></a></label>
    <span id = 'page-name' style = 'display: none;'>{{pagename}}</span><span id = 'user' style = 'display: none;'>{{user}}</span>
    <ul>
        <li><a href="/" class = "" id = "home">Home</a></li> 
        <li><a href="/recipes" class = "" id = "recipes">Recipes</a></li> 
        {{#if isLoggedIn}}
            <li><a href="{{profileurl}}" class = "" id = "prof">Profile</a></li>
            <li><a href="/logout" class = "" id = "logout">Logout</a></li> 
        {{else}}
            <li><a href="/login" class = "" id = "login">Log In</a></li>
            <li><a href="/login/register" class = "" id = "signup">Sign Up</a></li> 
        {{/if}}
        
        <li class="search-icon">
            <i class="fa fa-search" aria-hidden="true"></i>
            <form action = "/search" method = "POST" class="search-box">
                <input type="text" name="searchtext" class="search-text" placeholder="Search a recipe...">
                <input type="submit" class = "search-button" value="Search">
            </form>
        </li>
    </ul>
</nav>

<script>
    var pagename = document.getElementById('page-name').textContent;
        if (pagename == "Home")
        {
            document.getElementById('home').setAttribute("class", "active");
        }
        else if (pagename == "Recipes")
        {
            document.getElementById('recipes').setAttribute("class", "active");
        }
        else if (pagename == "Log In")
        {
            document.getElementById('login').setAttribute("class", "active");
        }
        else if (pagename == "Sign Up")
        {
            document.getElementById('signup').setAttribute("class", "active");
        }
        else if (pagename == "Profile")
        {
            document.getElementById('prof').setAttribute("class", "active");
        }
        document.getElementById('page-name').style.color = "#FFEDE3";  
        document.getElementById('user').style.color = "#FFEDE3";  
        document.getElementById('page-name').style.cursor = "default"; 
        document.getElementById('user').style.cursor = "default";  
</script>