<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="css/loginstyle.css">
        <link rel="stylesheet" href="css/navstyle.css">
    </head>
    
    <body>
        <div class="wrap">
            <h2>Log In Here</h2>
            <form class = "login" action = "login/logcheck" method = "POST">
                <input type="text" id = "uname" name = "uname" class="usernamebox" placeholder="Username" maxlength="20" required>
                <input type="password" id = "password" name = "password" class="pwdbox" placeholder="Password" required>
                <input type="submit" class="loginbtn" value="Log In">
            </form>
        </div>
        
        <script>
            $(document).ready(function(){
                $(".search-icon").click(function(){
                    $(".search-box").toggle();
                    $(".search-box input[type='text']").focus();
                });  
            });
        </script>  
    </body>
</html>