<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="css/loginstyle.css">
        <link rel="stylesheet" href="css/navstyle.css">
             
    </head>
    
    <body>
        <div class="wrap">
            <h2>Log In Here</h2>
            <form class = "login" action = "login/logcheck" method = "POST">
                <input type="text" id = "uname" name = "uname" class="usernamebox" placeholder="Username" required>
                <input type="password" id = "password" name = "password" class="pwdbox" placeholder="Password" required>
                <input type="submit" class="loginbtn" value="Log In">
            </form>
        </div>
        
        
        
        <script>
            $(document).ready(function(){
                $(".search-icon").click(function(){
                    $(".search-box").toggle();
                    $(".search-box input[type='text']").focus();
                });  
            });
            
            // For the login info
            /*
                $(".loginbtn").click(function(){ 
                    if($('.usernamebox').val() == "giantiyan" && $('.pwdbox').val() == "pass123"){
                        $(".login").attr("action", "/own-giantiyan");
                        var username = "giantiyan";
                            sessionStorage.setItem("userName", username);
                    }
                    else if($('.usernamebox').val() == "smnthpln23" && $('.pwdbox').val() == "pass123"){
                        $(".login").attr("action", "/own-smnthpln23");
                        var username = "smnthpln23";
                            sessionStorage.setItem("userName", username);
                    }
                    else if($('.usernamebox').val() == "shimeizhang08" && $('.pwdbox').val() == "pass123"){
                        $(".login").attr("action", "/own-shimeizhang08");
                        var username = "shimeizhang08";
                            sessionStorage.setItem("userName", username);
                    }
                    else if($('.usernamebox').val() == "arrenantioquia" && $('.pwdbox').val() == "pass123"){
                        $(".login").attr("action", "/own-arrenantioquia");
                        var username = "arrenantioquia";
                            sessionStorage.setItem("userName", username);
                    }
                    else if($('.usernamebox').val() == "caiyohan" && $('.pwdbox').val() == "pass123"){
                        $(".login").attr("action", "/own-caiyohan");
                        var username = "caiyohan";
                            sessionStorage.setItem("userName", username);
                    }
                    else{
                        alert("Incorrect username and password");
                        $('.usernamebox').val("");
                        $('.pwdbox').val("");
                    }
                });
                */
        </script>  
        
    </body>
    
    
</html>