*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav a:hover{
    text-decoration: none;
}

nav{
    background: #FFEDE3;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #F26A2D;
}

label.logo{
    padding: 0 100px;
}

nav ul{
    float: right;
    padding: 0 100px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    cursor:pointer;
}

nav ul li a{
    color: #576A7A;
    font-size: 18px;
    font-family: sans-serif;
    padding: 7px 13px;
    border-radius: 3px;
}

nav a.active, nav a:hover:not(.logo){
    background: #FCDAC8;
    transition: .6s;
    color: #FA773C;
}

.checkbtn{
    font-size: 30px;
    color: #FA773C;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.search-icon{
    color: #576A7A;
}

.search-box{
    background: #e8e8e4;
    position: absolute;
    top: 60px;
    right: 93px;
    width: 350px;
    height: 70px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top: 4px solid #FA773C;
    text-align: center;
    display: none;
}

.search-box:before{
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #FA773C;
}

.search-box input[type="text"]{
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #FA773C;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
}

.search-box input[type="button"], .search-box input[type="submit"]{ 
    width: 80px;
    height: 30px;
    padding: 5px 0;
    background: #FA773C;
    border: 1px solid #FA773C;
    outline: none;
    cursor: pointer;
    color: #FFF;
    margin-left: -6px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 0;
}

.search-box input[type="submit"]:hover{ 
    opacity: 0.7;
}

@media (max-width: 952px){
    label.logo{
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1035px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #FCDAC8;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 24px;
    }
    nav a:hover,nav a.active{
        background: none;
        color: #FA773C;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
    .search-icon{
        display: none;
    }
}